Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
ExtraArgsBefore: [-D_GLIBCXX_DO_NOT_USE_BUILTIN_TRAITS]
WarningsAsErrors: "*"
